---
apiVersion: v1
kind: Namespace
metadata:
  name: "rcds-{{ slug }}"
  annotations:
    app.kubernetes.io/managed-by: rcds
    rctf/challenge: "{{ chal.name }}"
    rctf/category: "{{ chal.category }}"
    rctf/description: |
      {{ chal.description | indent(6) }}
