apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: "rcds-{{ slug }}-pull"
  namespace: "rcds-{{ slug }}"
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ registry_domain }}": {
          "auth": "{{ creds_b64 }}"
        }
      }
    }
