---
rbac:
  create: true

# Watch these resources for new DNS records
sources:
  - service
  - ingress

policy: upsert-only

domainFilters:
  - "{{ chal_domain }}"

# These help tell which records are owned by external-dns.
registry: "txt"
txtOwnerId: "k8s-external-dns"
txtPrefix: "k8s-owner."

extraArgs:
  # special character replacement
  - --txt-wildcard-replacement=star
  # use CNAME instead of ALIAS for alb targets
  - --aws-prefer-cname

## Limit external-dns resources
resources:
  limits:
    memory: 50Mi
  requests:
    memory: 50Mi
    cpu: 10m

logLevel: debug

# assign last to override any previous values if required
{{ provider_credentials }}
