---
rbac:
  create: true

{{ provider_credentials | indent(4) }}

# Watch these resources for new DNS records
sources:
  - service
  - ingress

policy: upsert-only

domainFilters:
  - "{{ chal_domain }}"

# These help tell which records are owned by external-dns.
registry: "txt"
txtOwnerId: "k8s-external-dns"
txtPrefix: "k8s-owner."

extraArgs:
  # ignore any services with internal ips
  exclude-target-net: "10.0.0.0/8"
  # special character replacement
  txt-wildcard-replacement: star

## Limit external-dns resources
resources:
  limits:
    memory: 50Mi
  requests:
    memory: 50Mi
    cpu: 10m

logLevel: debug
